extend ../layouts/main-layout

block styles
        link(rel="stylesheet", href="/css/product.css")

block scripts
    script(src="/js/admin.js", type="text/javascript", defer)

block content
    - var admin = true;
    include ../includes/product
            