a.btn(href="/admin/edit-product/" + product._id + "?edit=true") ערוך
input(type="hidden", name="_csrf", value=csrfToken)
input(type="hidden", name="productId", value=product._id)
button.btn.del(onclick="") מחק