extend layouts/main-layout

block content
    .centered
        h1 לא ניתן למצוא את העמוד המבוקש :/
        p לא הצלחנו להשיג את העמוד המבוקש.<br/>נראה שהעמוד לא קיים אצלנו!
        br
        b ייתכן וקרתה תקלה, אנא נסה שנית.
        p במידה והתקלה חוזרת, אנא פנה למנהל המערכת.
